		
		$color-yellow:#FFF200;
		$color-black:rgb(0,0,0);
		$color-red:#FF0000;
		$color-white:#fff;
		$color-blue-bg:#141D48;
		$color-blue-light:rgb(66, 245, 233);
		$color-blue-dark:rgb(66, 188, 245);
		$bg-color:#D7EC73;
		$gutter-vertical:10rem;
		$gutter-horizontal:6rem;
		
		
		@mixin clearfix
		{
			&::after
			{
				content:"";
				display:table;
				clear:both;
			}
		}
		
		*
		{
			margin:0;
			padding:0;
		}
		
		.center-text{text-align:center;}
		.strikethrough{text-decoration:line-through;}
		.margin-bottom-medium{margin-bottom:4rem;}
		.text
		{
			font-size:2rem;
		}
		.section-heading{background-color:$bg-color;}
		.card
		{
			background-color:rgba($bg-color,0.8);
			font-size:1.5rem;
			padding:2.5rem;
			border-radius:3px;
			box-shadow:0 1.5rem 4rem rgba($color-black,0.5);
			text-align:center;
			
			&:hover
			{
				transform:translateY(-3px);
				box-shadow:0 2.5rem 4rem rgba($color-blue-dark,0.8);
			}
		}
		.card-1-of-1
		{
			width:25%;
		}
		
		.row
		{
			z-index:20;
			max-width:114rem;
			margin:0 auto;
			margin-bottom:$gutter-vertical;
			
			.col-1-of-3
			{
				width:calc((80%-2*#{$gutter-horizontal})/3);
				
				float:left;
				
				@include clearfix;
				
				&:not(:last-child)
				{
					margin-right:$gutter-horizontal;
				}
			}
			
			.col-1-of-1
			{
				@include clearfix;
			}
		}
		
		
		.heading
		{
			text-transform:uppercase;
			font-weight:bold;
			font-size:2.25rem;
			background-image:linear-gradient(to right,#3458eb,#05008a);
			display:inline-block;
			-webkit-background-clip:text;
			color:transparent;
			letter-spacing:0.3rem;
			padding:3rem;
			text-decoration:underline $color-red;
		}
		
		
		
		
		#top
		{
			width:0.3rem;
			height:0.3rem;
			
			
			position:fixed;
			top:90%;
			left:95%;
			z-index:100;
			
			float:center;
			-webkit-shape-outside:circle(50% at 50% 50%);
			shape-outside:circle(50% at 50% 50%);
			-webkit-clip-path:circle(50% at 50% 50%);
			clip-path:circle(50% at 50% 50%);
		}
		
		.Intro
		{
			height:100vh;
			background-size:cover;
			background-image:linear-gradient(to top right,rgba($color-blue-light,0.5),rgba($color-blue-dark,0.5)),url(intro_bg.jpg);
			
			#box
			{
				text:$color-yellow;
				text-transform:uppercase;
				position:absolute;
				top:45%;
				left:45%;
				transform:translate(-40%,-40%);
				text-align:center;
				
				#main
				{
					display:block;
					font-size:60px;
					font-weight:700;
					letter-spacing:20px;
				}
					
				#main1
				{
					display:inline-block;
					animation-name:MoveInLeft;
					animation-duration:2s;
				}
				#main2
				{
					display:inline-block;
					animation-name:MoveInRight;
					animation-duration:2s;
				}
			
				
				#sub
				{
					display:inline-block;
					font-size:20px;
					font-weight:200;
					letter-spacing:13px;
					animation-name:Blink;
					animation-duration:3s;
					animation-delay:1.5s;
					animation-fill-mode:backwards;
					margin-bottom:60px;
				}
				
				.btn
				{
					display:inline-block;
					animation-name:MoveInBottom;
					animation-duration:2s;
					animation-delay:4s;
					animation-fill-mode:backwards;
				}
					
				.btn:link,
				.btn:visited
				{
					text-transform:uppercase;
					text-decoration:none;
					padding: 15px 40px;
					border-radius:100px;
				}
				.btn:hover
				{
					transform:translateY(-3px);
					box-shadow:0 10px 20px rgba($color-black,0.4);
				}
				.btn:active
				{
					transform:translateY(-1px);
					box-shadow:0 5px 10px rgba($color-black,0.4);
				}
				#btn-white
				{
					background-color:$color-red !important;
					color:$color-white !important;
				}
				
			}
		}
		
				
		#navbar
		{
			position:fixed;
			width:100%;
			background-color:$color-blue-bg;
			height:100px;
			border-radius:25px;
			z-index:+1;
			
			li
			{
				list-style:none;
				float:left;
				padding:10px;
			}
			
			#logodiv
			{
				padding-left:120px;
				padding-right:100px;
				float:left;
			}
			
			#links
			{
				padding-top:1.5rem;
				
				a:link 
				{
					color:$color-yellow;
					text-decoration:none;
				}
				a:visited
				{
					color:$color-yellow;
					text-decoration:none;
				}
				a:hover
				{
					text-decoration:bold;
					color:red
				}
				
				#advisory
				{
					padding-left:50px;
					color:$color-red;
					font-weight:bold;
				}	
				#advisory:hover
				{
					color:$color-yellow;
					text-decoration:bold;
				}
				
			}
			
			
			
		}
		
		#launch_soon
		{
			background-color:$bg-color;
			display:block;
			.composition
			{
				position:relative;
				.img
				{
					box-shadow:0 1rem 4rem rgba($color-black,0.7);
					border-radius:5px;
					width:10rem;
					height:10rem;
					position:absolute;
					outline-offset:1.25rem;
					
					&:hover
					{
						transform: scale(1.2);
						z-index:+1;
						box-shadow:0 2rem 4rem rgba($color-black,0.7);
						outline: 0.75rem dotted $bg-color;
					}
				}
				
					.img1
					{
						top:2rem;
						left:48%;
					}
					.img2
					{
						top:4rem;
						right:50%;
					}
					.img3
					{
						top:2rem;
						left:28%;
					}
				}
		}
		
		#Surprise
		{
			margin-top:20rem;
			border-radius:1rem;

			.surp-main
			{
				padding-left:7.5rem;
				
				.surp-img
				{
					width:10rem;
					height:10rem;
				}
				
			}
		}
		
		#most-bought
		{
			margin-top:20rem;
			border-radius:1rem;

			.most-main
			{
				padding-left:7.5rem;
				
				.row1
				{
					padding-top:3rem;
					padding-left:30%;
				}
					.most-imgshape
					{
						width:10rem;
						height:10rem;
						
						float:center;
						-webkit-shape-outside:circle(50% at 50% 50%);
						shape-outside:circle(50% at 50% 50%);
						-webkit-clip-path:circle(50% at 50% 50%);
						clip-path:circle(50% at 50% 50%);
						transform:translateX(2rem);
						
						.most-img
						{
							width:10rem;
							height:10rem;
						}
					}
				
			}
		}
		
		#reviews
		{
			border-radius:1rem;
			
			.rev-main
			{
				background-image:linear-gradient(to bottom right,#3458eb,#05008a);
				padding:2rem;
			}
			
			.rev
			{
				width:65%;
				margin:0 auto;
				box-shadow:0 1rem 2rem rgba($color-red,0.7);
				background-color:$color-white;
				border-radius:5px;
				padding:6rem;
				padding-left:9rem;
				font-size:1.5rem;
				
				&-shape
				{
					width:6.5rem;
					height:6.5rem;
					float:left;
					-webkit-shape-outside:circle(50% at 50% 50%);
					shape-outside:circle(50% at 50% 50%);
					-webkit-clip-path:circle(50% at 50% 50%);
					clip-path:circle(50% at 50% 50%);
					transform:translateX(-3rem);
					position:relative;
					
					
					.rev-img
					{
						height:100%;
					}
				}
				
				&-caption
				{
					position:absolute;
					top:50%;
					left:50%;
					transform:translate(-50%,-50%);
					color:$color-white;
					text-transform:uppercase;
					text-align:center;
					font-size:1.05rem;
					opacity:0;
					
				}
				
				.rev:hover .rev-caption
				{
					opacity:1;
					z-index:30;
				}
			}
		}
		
		#feedback
		{
			text-align:center;
			padding:2rem;
			
			.feed-main
			{
				padding-left:30%;
				background-size:cover;
				
				
				.form
				{
					width:65%;
					background-color:$bg-color;
					box-shadow:1rem 1rem 2rem rgba($color-red,0.7);
					
					#submit
					{
						background-color:$color-blue-bg;
						color:$color-red;
						padding:0.5rem 1.5rem;
						border-radius:5rem;
					}
				}
			}	
		}
		
		#footer
		{
			background-color:#333;
			height:15rem;
			
			.footer-logo
			{
				float:left;
				height:10rem;
				padding-right:10rem;
			}
			
			ul
			{
				padding-top:8rem;
				padding-right:10rem;
			}
			li
			{
				padding-top:8rem;
				list-style:none;
				float:left;
				padding:10px;
			}
			
			
			a:link,a:visited
			{
				color:$color-yellow;
				text-decoration:none;
			}
			
			p
			{
				color:$color-yellow;
			}
		}
		
		@keyframes MoveInRight
		{
			0%
			{
				opacity:0;
				transform:translateX(100px);
			}
			100%
			{
				opacity:1;
			}
		}
		@keyframes MoveInLeft
		{
			0%
			{
				opacity:0;
				transform:translateX(-100px);
			}
			100%
			{
				opacity:1;
			}
		}
		@keyframes MoveInBottom
		{
			0%
			{
				opacity:0;
				transform:translateY(50px);
			}
			100%
			{
				opacity:1;
			}
		}
		@keyframes Blink
		{
			0%
			{
				opacity:0;
			}
			50%
			{
				opacity:0.75;
			}
			75%
			{
				opacity:0;
			}
			100%
			{
				opacity:1;
			}
		}
		